/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/* Font utility */

.edu-tas {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.mono {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Struttura top-down */

.header {
    background-image: url(../assets_day1/img/wall.png);
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.head-title {
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 75px;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.325);
}

.main {
    background-image: url('../assets_day1/img/cork.png');
}

.main-container {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: var(--gap-set);
    justify-content: center;
    padding: 5% 0;
}

.photo-card {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    position: relative;
    transform: rotate(-1deg);
    box-shadow: 2px 5px 16px rgb(0, 0, 0);
}

.pin-container {
    position: absolute;
    top: -2%;
    left: 47.5%;
}

.img-container>img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: fill;
}

/* Media query e variabili*/

:root {
    --gap-set: 5%;
}

@media screen and (min-width: 768px) {
    .photo-card {
        flex-basis: calc(50% - var(--gap-set));
    }
}

@media screen and (min-width: 1200px) {
    .photo-card {
        flex-basis: calc(33.3% - var(--gap-set));
    }
}

/* Eventi */

.photo-card:hover {
    transform: rotate(3deg) scale(1.1);
    transition: 0.2s;
}