/* Reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-image: url("../assets_day1/img/wall.png");
    height: 80px;
    min-width: 100%;
}

.titolo {
    line-height: 70px;
    font-size: 50px;
}

.main {
    margin: 0 auto;
    width: 80%;
}

/* Container */

.photo-container {
    width: 100%;
    background: green;
    padding: 10px;
    position: relative;
}

.pin {
    position: absolute;
    left: 50%;
    top: -2%;
}
